<form id="MML_InputForm" class="input-form" action="">
    <section id="MML_InputForm_Heading" class="heading">
        <h3 class="header">
            <span class="text">Лабораторна робота №7</span>
        </h3>
        <div class="statement">
            <h3 class="header">
                <span class="text">Завдання:</span>
            </h3>
            <div class="expression">
                <table>
                    <thead>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x</span>
                                </mark>
                            </td>
                            <td>
                                <span class="text">Значення аргументу</span>
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y</span>
                                </mark>
                            </td>
                            <td>
                                <span class="text">Значення функції</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>0</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x0" value="0.2">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>0</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y0" value="1.81">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>1</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x1" value="0.3">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>1</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y1" value="1.64">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>2</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x2" value="0.5">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>2</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y2" value="1.55">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>3</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x3" value="0.7">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>3</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y3" value="1.79">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>4</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x4" value="0.9">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>4</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y4" value="2.06">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>5</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x5" value="1.0">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>5</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y5" value="2.15">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>6</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x6" value="1.2">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>6</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y6" value="2.33">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>7</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x7" value="1.4">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>7</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y7" value="2.56">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section> 
    <section id="MML_InputForm_UserInput" class="user-input">
        <button id="MML_InputForm_UserInput_RefreshBtn" class="play-btn" name="PlayBtn" disabled="disabled">
            <span class="text">&#9658;</span>
        </button>
    </section>
</form>