<form id="MML_InputForm" class="input-form" action="">
    <section id="MML_InputForm_Heading" class="heading">
        <h3 class="header">
            <span class="text">Лабораторна робота №8</span>
        </h3>
        <div class="statement">
            <h3 class="header">
                <span class="text">Завдання:</span>
            </h3>
            <div class="expression">
                <table>
                    <thead>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">Визначити коефіцієнти апроксимуючих многочленів такого виду:</span>
                                </mark>
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">Визначити коефіцієнти апроксимуючої функції виду:</span>
                                </mark>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text"><span class="special-symbol phi">&phi;</span>(x) = C<sub>0</sub> + C<sub>1</sub><span class="special-symbol multiply">&middot;</span>x</span>
                                    <br>
                                    <span class="text"><span class="special-symbol phi">&phi;</span>(x) = C<sub>0</sub> + C<sub>1</sub><span class="special-symbol multiply">&middot;</span>x + C<sub>2</sub><span class="special-symbol multiply">&middot;</span>x<sup>2</sup></span>
                                    <br>
                                    <span class="text"><span class="special-symbol phi">&phi;</span>(x) = C<sub>0</sub> + C<sub>1</sub><span class="special-symbol multiply">&middot;</span>x + C<sub>2</sub><span class="special-symbol multiply">&middot;</span>x<sup>2</sup> + C<sub>3</sub><span class="special-symbol multiply">&middot;</span>x<sup>3</sup></span>
                                </mark>
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text"><span class="special-symbol phi">&phi;</span>(x) = C<sub>0</sub> + C<sub>1</sub><span class="special-symbol multiply">&middot;</span>e<sup>x</sup></span>
                                </mark>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section> 
    <section id="MML_InputForm_UserInput" class="user-input">
        <h3 class="header">
            <span class="text">Параметри розрахунку:</span>
        </h3>
        <dl class="argument">
            <dt>
            <label>Задані значення</label>
            </dt>
            <dd>
                <table>
                    <thead>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x</span>
                                </mark>
                            </td>
                            <td>
                                <span class="text">Значення аргументу</span>
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y</span>
                                </mark>
                            </td>
                            <td>
                                <span class="text">Значення функції</span>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>0</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x0" value="2.7">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>0</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y0" value="0.2967">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>1</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x1" value="2.4">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>1</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y1" value="0.8934">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>2</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x2" value="2.1">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>2</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y2" value="0.2955">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>3</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x3" value="2.8">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>3</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y3" value="0.0334">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">x<sub>4</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="x4" value="1.5">
                            </td>
                            <td>
                                <mark class="for-default-styling">
                                    <span class="text">y<sub>4</sub> = </span>
                                </mark>
                            </td>
                            <td>
                                <input class="numeric" type="text" name="y4" value="0.5431">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
        <button id="MML_InputForm_UserInput_RefreshBtn" class="play-btn" name="PlayBtn" disabled="disabled">
            <span class="text">&#9658;</span>
        </button>
    </section>
</form>